

body {
    display: grid;
    grid-template-columns: (200px 1fr 200px);
    grid-template-rows: 20px 1fr;
    font: 1rem 'Fira Sans', sans-serif;
}

#container {
    background-color: #f3f3f3;
    width: 900px;
    height: 900px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0,1fr));
    grid-template-rows: repeat(5, minmax(0,1fr));
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: auto;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(192, 192, 192);
    color: rgb(29, 29, 29);
    border: 1px black solid;
    height: 100px;
    font-size: xx-large;
}

#absolute {
    position: absolute;
    top: 123px;
    left: 30%;
    width: 800px;
    height: 500px;
    background-color: rgb(80, 80, 80);
    
}

.hidden {
    visibility: hidden;
}
.visible {
    visibility: visible;
}

.delete {
    background-color: burlywood;
    color: crimson;
}